.playerContainer {
  @apply relative overflow-clip h-full w-full; 
}

.active {
  @apply rounded-lg;
}

.notActive {
  @apply rounded-md flex justify-center absolute items-center h-min lg:top-8 top-4 lg:right-8 right-4 ;
  width: 200px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

.icon {
  @apply text-foreground absolute right-2 bottom-2;
}

.user {
  @apply text-foreground;
}

.notPlaying {
  @apply flex items-center justify-center;
}